<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.locale }}">
<head>
  <meta charset=utf-8>
  <meta name="description" content="{{ "brand.info"|trans }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <title>{% block title %}{{ "brand.name"|trans }}{% endblock %}</title>
  <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🎶️</text></svg>">

  {% block preconnect %}{% endblock %}

  {% block stylesheets %}
    {{ ux_controller_link_tags() }}
  {% endblock %}

  {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
    {% block importmap %}{{ importmap('app', {'nonce': csp_nonce('script') }) }}{% endblock %}
  {% endblock %}
</head>

<body id="{% block id %}base{% endblock %}">

<header>
  <p>
    <img width="42px" height="42px" alt="Phil Logo" src="https://ph-il.ca/img/phil_img_logo.svg"> {{ "brand.html"|trans|raw }}
  </p>

  <nav>
    {{ knp_menu_render('mainMenu') }}
  </nav>
</header>

<main>
  {% block body %}{% endblock %}
</main>

<footer>
  <p>{{ "brand.html"|trans|raw }}</p>

  <div>
    <div>
      &copy; 2022-{{ "now"|date("Y") }} <a href="https://ph-il.ca" target="_blank">{{ "brand.copyright"|trans }}</a>;
      {{ "footer.all_rights"|trans }}
      <br />
      {{ "footer.symfony"|trans|raw }}
    </div>

    <div>
      <a href="https://github.com/parler-haut-interagir-librement/WebSymfony" target="_blank"><img alt="GitHub" height="25px" width="25px"
                                                                                 src="{{ asset('img/github.svg') }}"></a>
    </div>
  </div>
</footer>
{% block modal %}{% endblock %}
</body>
</html>
